.hero {
  background-color: $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $gutter * 6 0;

  @media screen and (min-width: $medium) {
    align-items: center;
    padding: $gutter * 8 0;
  }

  @media screen and (min-width: $medium-wide) {
    align-items: center;
    padding: $gutter * 10 0;
  }

  @media screen and (min-width: $wide) {
    align-items: center;
    padding: $gutter * 14 0;
  }

  .hero__container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.hero__heading {
  @include font-size(32px);
  color: $white;
  margin-bottom: $gutter * 2;
  text-align: center;
  padding: 0 $gutter * 2;

  @media screen and (min-width: $medium-wide) {
    @include font-size(48px);
    margin-bottom: $gutter * 3;
    padding: 0 $gutter * 6;
  }
}
