.hero {
  background-color: $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;

  @media screen and (min-width: $medium-wide) {
    align-items: center;
    min-height: 750px;
  }

  .hero__container {
    width: 100%;

    @media screen and (min-width: $medium-wide) {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 800px;
    }
  }
}

.hero__heading {
  @include font-size(22px);
  color: $white;
  margin-bottom: $gutter * 1.5;

  @media screen and (min-width: $medium-wide) {
    @include font-size(48px);
    margin-bottom: $gutter * 3;
    text-align: center;
  }
}
