.reference__image {
  width: 100%;
  padding-bottom: 56.25%;
  background-color: $red;
  margin-bottom: $gutter * 2;
}

.reference__heading {
  @include font-size(24px);
  margin-bottom: $gutter;

  @media screen and (min-width: $wide) {
    @include font-size(32px);
  }
}

.reference__lead {
  color: $grey;
  letter-spacing: 0;
}
