.service {
  background-color: $red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $gutter * 3;
  border-radius: 3px;
  margin-bottom: $gutter * 2;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $medium-wide) {
    margin: 0;
  }
}

.service__image {
  margin-bottom: $gutter * 1.5;

  @media screen and (min-width: $medium-wide) {
    margin-bottom: $gutter * 2;
  }
}

.service__heading {
  @include font-size(22px);
  color: $white;
  margin-bottom: $gutter * 1.5;

  @media screen and (min-width: $medium-wide) {
    @include font-size(24px);
    margin-bottom: $gutter * 2;
  }
}
